.kantumruy-pro-font {
	font-family: "Kantumruy Pro", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

body {
	background: #00aaff;
	background: linear-gradient(
		0deg,
		rgba(0, 195, 217, 1) 0%,
		rgba(0, 170, 255, 1) 100%
	);
}

h1 {
	padding: auto;
	font-size: 3rem;
	color: rgb(0, 0, 0);
}

h2 {
	font-size: 2rem;
	padding: auto;
	color: rgb(0, 0, 0);
	justify-self: center;
}
h3 {
	font-size: 1.5rem;
}

a {
	font-weight: 200;
	font-size: 1.5rem;
	padding-inline: 0.5rem;
}

p {
	font-size: 1.05rem;
	padding: auto;
	color: rgb(0, 0, 0);
	font-weight: 350;
	justify-self: center;
}

a {
	color: rgb(0, 30, 68);
}


.SkillBox {
	justify-self: center;
	justify-items: center;
	background-color: cadetblue;
	border-radius: 5vw;
	padding: 2vw;
	margin: 2vw;
}
.SkillBox p {
	padding: 0vw;
	margin: 1vw;
	max-width: 20vw;
}
.SkillBox h3 {
	text-align: center;
}

.projects h2 {
	justify-self: center;
	justify-content: center;
	justify-items: center;
}

.projects img {
	float: inline-start;
	max-width: 30%;
	height: fit-content;

	object-fit: contain;
	padding: 2%;
	border-radius: 5vw;
}

.ProjectDisc a {
	font-size: 1.05rem;
	padding: auto;
	color: rgb(0, 0, 0);
	font-weight: 350;
	justify-self: center;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	a {
		font-size: 1.8rem;
	}

	p {
		font-size: 1.3rem;
	}
	.ProjectDisc a {
		font-size: 1.3rem;
	}
}
