
.kantumruy-pro-font {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
    background-color: darkcyan;
}

h1 {
    color:rgb(210, 210, 210);
}

h2 {
    color: rgb(210, 210, 210);
    justify-self: center;
}

p {
    color: rgb(210, 210, 210);
    justify-self: center;
}
